.design-system {
  margin: 25px;

  display: grid; 
  grid-template-columns: 1fr 1.1fr 0.9fr; 
  grid-template-rows: 1fr 0.7fr 1.3fr; 
  gap: 20px 20px; 

  &__colors {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: $form-shadow;

    & h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 15px;
    }
  }

  &__color-container {
    width: 650px;
    margin: 25px;
    
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 18px;
      color: $neutral-darker;
      font-weight: bold;
      margin: 15px;
    }

    &-colors {
      margin-top: 5px;
      margin-bottom: 5px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      // Neutral colors
      & .neutral-darkest {
        background-color: $neutral-darkest;
      }
      
      & .neutral-darker {
        background-color: $neutral-darker;
      }

      & .neutral {
        background-color: $neutral;
      }

      & .neutral-lighter {
        background-color: $neutral-lighter;
      }

      & .neutral-lightest {
        background-color: $neutral-lightest;
      }

      & .neutral-white {
        background-color: $neutral-white;
      }

      // Primary colors
      & .primary-grey {
        background-color: $primary-grey;
      }

      & .primary-blue {
        background-color: $primary-blue;
      }

      & .primary-green {
        background-color: $primary-green;
      }

      // Secondary colors
      & .secondary-grey {
        background-color: $secondary-grey;
      }

      & .secondary-light-grey {
        background-color: $secondary-light-grey;
      }
      
      & .secondary-blue {
        background-color: $secondary-blue;
      }

      & .secondary-light-blue {
        background-color: $secondary-light-blue;
      }

      & .secondary-light-green {
        background-color: $secondary-light-green;
      }

      & .secondary-lightest-green {
        background-color: $secondary-lightest-green;
      }

      & .secondary-green {
        background-color: $secondary-green;
      }

      & .secondary-red {
        background-color: $secondary-red;
      }

      & .secondary-yellow {
        background-color: $secondary-yellow;
      }

      // Gradients
      & .gradient-blue-grey {
        background: $gradient-blue-grey;
      }

      & .gradient-blue-green {
        background: $gradient-blue-green;
      }
    }
  }
}

.color-preview {
  width: 200px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__color {
    // colorbox color style
    width: 150px;
    height: 80px;

    border-radius: 10px;

    margin-bottom: 15px;
  }

  &__code {
    font-size: 14px;
    color: $neutral
  }

  &__name {
    font-size: 16px;
    color: $neutral-darkest;
    font-weight: bold;
  }
}
