.design-system {
  margin: 25px;

  display: grid; 
  grid-template-columns: 1fr 1.1fr 0.9fr; 
  grid-template-rows: 0.5fr 1.2fr 1.3fr; 
  gap: 30px 30px; 
  grid-template-areas: 
    "color-grid icon-grid icon-grid"
    "color-grid button-grid button-grid"
    ". . ."; 

  & > div {
    @include designContainerBoxStyle;
  }

  &__color-container {
    width: 650px;
    margin: 25px;
    
    display: flex;
    flex-direction: column;

    &-title {
      @include desigSystemSubtitles;
    }

    &-colors {
      margin-top: 5px;
      margin-bottom: 5px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      // Neutral colors
      & .neutral-darkest {
        background-color: $neutral-darkest;
      }
      
      & .neutral-darker {
        background-color: $neutral-darker;
      }

      & .neutral {
        background-color: $neutral;
      }

      & .neutral-lighter {
        background-color: $neutral-lighter;
      }

      & .neutral-lightest {
        background-color: $neutral-lightest;
      }

      & .neutral-white {
        background-color: $neutral-white;
      }

      // Primary colors
      & .primary-grey {
        background-color: $primary-grey;
      }

      & .primary-blue {
        background-color: $primary-blue;
      }

      & .primary-green {
        background-color: $primary-green;
      }

      // Secondary colors
      & .secondary-grey {
        background-color: $secondary-grey;
      }

      & .secondary-light-grey {
        background-color: $secondary-light-grey;
      }
      
      & .secondary-blue {
        background-color: $secondary-blue;
      }

      & .secondary-light-blue {
        background-color: $secondary-light-blue;
      }

      & .secondary-light-green {
        background-color: $secondary-light-green;
      }

      & .secondary-lightest-green {
        background-color: $secondary-lightest-green;
      }

      & .secondary-green {
        background-color: $secondary-green;
      }

      & .secondary-red {
        background-color: $secondary-red;
      }

      & .secondary-yellow {
        background-color: $secondary-yellow;
      }

      // Gradients
      & .gradient-blue-grey {
        background: $gradient-blue-grey;
      }

      & .gradient-blue-green {
        background: $gradient-blue-green;
      }
    }
  }

  &__icon-container {
    margin: 25px;

    display: flex;
    flex-direction: column;

    &-title {
      @include desigSystemSubtitles;
    }

    &-icons {
      width: 60%;

      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;

    }
  }

  &__buttons {
    height: 700px;
  }

  &__button-container {
    margin: auto 25px;
    height: 600px;

    display: flex;
    justify-content: space-around;

    &-title {
      @include desigSystemSubtitles;
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      & .button.normal-pressed {
        border: none;
        width: 106px;
        height: 42px;
        border-radius: 20px;
        
        color: $neutral-white;
        background-color: $secondary-light-grey;
      
        font-family: 'Roboto Condensed';
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.1em;
      }

      & .button.outlined-pressed {
        border: 2px solid $secondary-grey;
        width: 106px;
        height: 42px;
        border-radius: 20px;
      
        color: $secondary-grey;
        background-color: white;
      
        font-family: 'Roboto Condensed';
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.1em;
      }

      & .button.normal-iconed-pressed {
        border: none;
        width: 127px;
        height: 42px;
        border-radius: 20px;

        color: $neutral-lightest;
        background-color: $secondary-light-blue;

        font-family: 'Roboto Condensed';
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.1em;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .button.normal-iconed-pressed .material-icons {
        margin-left: 6px;
      }

      .button.outlined-iconed-pressed {
        border: 2px solid $secondary-grey;
        width: 127px;
        height: 42px;
        border-radius: 20px;
      
        color: $secondary-grey;
        background-color: white;
      
        font-family: 'Roboto Condensed';
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.1em;
      
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .button.outlined-iconed-pressed .material-icons {
        margin-right: 6px;
      }

      .button.icon-button-pressed {
        border: none;
        width: 36px;
        height: 36px;
        border-radius: 15px;
      
        color: $secondary-grey;
        background-color: $secondary-lightest-green;
        box-shadow: 0px 2px 4px 1px #E0E0E0;
      }
      
      .button.icon-button-pressed .material-icons {
        font-size: 20px;
      }
    }
  }
}

.color-preview {
  width: 200px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__color {
    // colorbox color style
    width: 150px;
    height: 80px;

    border-radius: 10px;

    margin-bottom: 15px;
  }

  &__code {
    font-size: 14px;
    color: $neutral
  }

  &__name {
    font-size: 16px;
    color: $neutral-darkest;
    font-weight: bold;
  }
}

.material-icons.md30 {
  font-size: 30px;
  margin: 15px;
}

.design-system__colors { grid-area: color-grid; }
.design-system__icons { grid-area: icon-grid; }
.design-system__buttons { grid-area: button-grid; }
