/////////////////////
// Slide arrow mixin
/////////////////////

@mixin arrow-design {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: grey;
  border-radius: 50px;

  &:hover {
    color: black;
  }
}

/////////////////////
// Sport field mixins
/////////////////////

@mixin commonBox {
  border: 1px solid $neutral;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 2rem;
    color: $neutral-darkest;
    margin: 0 auto;
  }

  p {
    font-size: 1.5rem;
    color: $neutral;
    margin: 0 auto;
  }
}

@mixin commonBoxCreate {
  border: 1px solid $neutral;
  width: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  * {
    transition: all .2s ease;
    margin-right: 10%;
  }

  p {
    font-size: 1.5rem;
    color: $neutral;
    margin-right: auto;
    margin-left: 35%;
  }

  &:hover {
    & * {
      transform: translateY(-2px);
    }
  }
}

@mixin designContainerBoxStyle {
  display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: $form-shadow;

    & h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 15px;
    }
}

@mixin desigSystemSubtitles {
  font-size: 18px;
  color: $neutral-darker;
  font-weight: bold;
  margin: 15px;
}
