$neutral-darkest: #262626;
$neutral-darker: #686868;
$neutral: #939393;
$neutral-lighter: #D3D3D3;
$neutral-lightest: #EDEDED;
$neutral-white: #FBFBFB;

$red-base: #e3242b;

$form-shadow: 0px 4px 6px 6px rgba(38, 38, 38, 0.06);
