.design-system {
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr 1.1fr 0.9fr;
  grid-template-rows: 1fr 0.7fr 1.3fr;
  gap: 20px 20px; }
  .design-system__colors {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 6px rgba(38, 38, 38, 0.06); }
    .design-system__colors h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 15px; }
  .design-system__color-container {
    width: 650px;
    margin: 25px;
    display: flex;
    flex-direction: column; }
    .design-system__color-container-title {
      font-size: 18px;
      color: #686868;
      font-weight: bold;
      margin: 15px; }
    .design-system__color-container-colors {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .design-system__color-container-colors .neutral-darkest {
        background-color: #262626; }
      .design-system__color-container-colors .neutral-darker {
        background-color: #686868; }
      .design-system__color-container-colors .neutral {
        background-color: #939393; }
      .design-system__color-container-colors .neutral-lighter {
        background-color: #D3D3D3; }
      .design-system__color-container-colors .neutral-lightest {
        background-color: #EDEDED; }
      .design-system__color-container-colors .neutral-white {
        background-color: #FBFBFB; }
      .design-system__color-container-colors .primary-grey {
        background-color: #344544; }
      .design-system__color-container-colors .primary-blue {
        background-color: #36676E; }
      .design-system__color-container-colors .primary-green {
        background-color: #C8E0B7; }
      .design-system__color-container-colors .secondary-grey {
        background-color: #5A7270; }
      .design-system__color-container-colors .secondary-light-grey {
        background-color: #879E9D; }
      .design-system__color-container-colors .secondary-blue {
        background-color: #55939C; }
      .design-system__color-container-colors .secondary-light-blue {
        background-color: #85BFC8; }
      .design-system__color-container-colors .secondary-light-green {
        background-color: #E2ECDB; }
      .design-system__color-container-colors .secondary-lightest-green {
        background-color: #F1FFE7; }
      .design-system__color-container-colors .secondary-green {
        background-color: #82E83D; }
      .design-system__color-container-colors .secondary-red {
        background-color: #E25858; }
      .design-system__color-container-colors .secondary-yellow {
        background-color: #F4CF09; }
      .design-system__color-container-colors .gradient-blue-grey {
        background: linear-gradient(90deg, #36676E 0%, #344544 100%); }
      .design-system__color-container-colors .gradient-blue-green {
        background: linear-gradient(90deg, #36676E 0%, #C8E0B7 100%); }

.color-preview {
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .color-preview__color {
    width: 150px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 15px; }
  .color-preview__code {
    font-size: 14px;
    color: #939393; }
  .color-preview__name {
    font-size: 16px;
    color: #262626;
    font-weight: bold; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.slider {
  position: relative;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.image {
  width: 50rem;
  height: 45rem; }

.right-arrow {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: grey;
  border-radius: 50px;
  right: 0rem; }
  .right-arrow:hover {
    color: black; }

.left-arrow {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: grey;
  border-radius: 50px;
  left: 0rem; }
  .left-arrow:hover {
    color: black; }

.discardable-image {
  display: flex; }
  .discardable-image__image {
    max-height: 8rem; }
  .discardable-image__cancelButton {
    font-size: 2rem;
    margin-left: -2rem;
    cursor: pointer; }

.form {
  padding: 5rem 10rem;
  border-radius: 15px;
  box-shadow: 27px 27px 54px #cccccc, -27px -27px 54px #f4f4f4;
  height: min-content;
  width: min-content;
  grid-area: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sign-up-form {
  padding: 6rem 12rem; }

.image-upload {
  display: flex; }

.input-box {
  font-size: 1.6rem;
  margin-bottom: 25px; }
  .input-box__field {
    height: 35px;
    width: 250px;
    padding: 10px;
    border-radius: 3px;
    border: 1.5px solid #262626; }
  .input-box__label {
    margin-bottom: 5px;
    margin-left: 3px; }
  .input-box__validation-label {
    font-size: 1.8rem;
    font-weight: bold;
    color: #E25858;
    margin-top: 3px; }

.modal {
  position: fixed;
  z-index: 10;
  width: 70%;
  left: 15%;
  top: 30%;
  padding: 1.6rem;
  transition: all 0.3s ease-out; }
  .modal--hidden {
    transform: translateY(-100vh);
    opacity: 0; }
  .modal--shown {
    transform: translateY(0);
    opacity: 1; }

.rating__star {
  font-size: 2.5rem;
  cursor: pointer; }
  .rating__star--filled {
    color: #2c2c28; }
  .rating__star--unfilled {
    color: #DCDCDC; }

.sport-fields {
  display: flex; }

.sport-field__container {
  position: relative; }

.sport-field__cancel-button {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px; }

.sport-field__card {
  width: 18rem;
  background-color: #D3D3D3;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sport-field__image-box {
  height: 10rem;
  border: 1px solid #939393;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none; }
  .sport-field__image-box h3 {
    font-size: 2rem;
    color: #262626;
    margin: 0 auto; }
  .sport-field__image-box p {
    font-size: 1.5rem;
    color: #939393;
    margin: 0 auto; }

.sport-field__image {
  max-height: 8rem; }

.sport-field__title {
  height: 3rem;
  border: 1px solid #939393;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none; }
  .sport-field__title h3 {
    font-size: 2rem;
    color: #262626;
    margin: 0 auto; }
  .sport-field__title p {
    font-size: 1.5rem;
    color: #939393;
    margin: 0 auto; }

.sport-field__description {
  height: 6rem;
  border: 1px solid #939393;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none; }
  .sport-field__description h3 {
    font-size: 2rem;
    color: #262626;
    margin: 0 auto; }
  .sport-field__description p {
    font-size: 1.5rem;
    color: #939393;
    margin: 0 auto; }

.sport-field__price {
  height: 3rem;
  border: 1px solid #939393;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sport-field__price h3 {
    font-size: 2rem;
    color: #262626;
    margin: 0 auto; }
  .sport-field__price p {
    font-size: 1.5rem;
    color: #939393;
    margin: 0 auto; }

.sport-field-create {
  width: 18rem;
  background-color: #D3D3D3;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sport-field-create__picture {
    height: 10rem;
    border: 1px solid #939393;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none; }
    .sport-field-create__picture * {
      transition: all .2s ease;
      margin-right: 10%; }
    .sport-field-create__picture p {
      font-size: 1.5rem;
      color: #939393;
      margin-right: auto;
      margin-left: 35%; }
    .sport-field-create__picture:hover * {
      transform: translateY(-2px); }
  .sport-field-create__title {
    height: 3rem;
    border: 1px solid #939393;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none; }
    .sport-field-create__title * {
      transition: all .2s ease;
      margin-right: 10%; }
    .sport-field-create__title p {
      font-size: 1.5rem;
      color: #939393;
      margin-right: auto;
      margin-left: 35%; }
    .sport-field-create__title:hover * {
      transform: translateY(-2px); }
  .sport-field-create__description {
    height: 6rem;
    border: 1px solid #939393;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none; }
    .sport-field-create__description * {
      transition: all .2s ease;
      margin-right: 10%; }
    .sport-field-create__description p {
      font-size: 1.5rem;
      color: #939393;
      margin-right: auto;
      margin-left: 35%; }
    .sport-field-create__description:hover * {
      transform: translateY(-2px); }
  .sport-field-create__price {
    height: 3rem;
    border: 1px solid #939393;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .sport-field-create__price * {
      transition: all .2s ease;
      margin-right: 10%; }
    .sport-field-create__price p {
      font-size: 1.5rem;
      color: #939393;
      margin-right: auto;
      margin-left: 35%; }
    .sport-field-create__price:hover * {
      transform: translateY(-2px); }
  .sport-field-create__plus-icon {
    font-size: 25px;
    color: #939393; }

.double-button {
  width: 115px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  .double-button__list-button {
    cursor: pointer; }
  .double-button__add-button {
    cursor: pointer;
    width: 20px;
    height: 20px; }

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: header; }

.layout {
  display: grid;
  grid-template-columns: 1.2fr 0.3fr 2fr 0.3fr 1.2fr;
  grid-template-rows: 50px 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header header" "left . center . right"; }

.left {
  grid-area: left; }

.center {
  grid-area: center; }

.right {
  grid-area: right; }
