html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.cancellableImage {
  display: flex; }
  .cancellableImage__image {
    max-height: 8rem; }
  .cancellableImage__cancelButton {
    font-size: 2rem;
    margin-left: -2rem;
    cursor: pointer; }

.imageUpload {
  display: flex; }

.modal {
  position: fixed;
  z-index: 200;
  width: 70%;
  left: 15%;
  top: 30%;
  padding: 1.6rem;
  transition: all 0.3s ease-out; }

.rating__star {
  font-size: 2.5rem;
  cursor: pointer; }
  .rating__star--filled {
    color: #2c2c28; }
  .rating__star--unfilled {
    color: #DCDCDC; }

.slider {
  position: relative;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.image {
  width: 50rem;
  height: 45rem; }

.right-arrow {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: grey;
  border-radius: 50px;
  right: 0rem; }
  .right-arrow:hover {
    color: black; }

.left-arrow {
  position: absolute;
  top: 50%;
  font-size: 4rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: grey;
  border-radius: 50px;
  left: 0rem; }
  .left-arrow:hover {
    color: black; }
