.button {
  padding: 13px 25px;
  border: none;
  border-radius: 20px;

  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;

  cursor: pointer;
}

// Normal buttons
.normal {
  color: $neutral-white;
  background-color: $secondary-grey;
}

.normal:active {
  background-color: $secondary-light-grey;
}

// Outlined buttons
.outlined {
  border: 2px solid $primary-grey;
  padding: 11px 25px;

  color: $primary-grey;
  background-color: white;
}

.outlined:active {
  border-color: $secondary-grey;
  color: $secondary-grey;
}

// Normal buttons with icon
.normal-iconed {
  color: $neutral-white;
  background-color: $secondary-blue;

  display: flex;
  justify-content: center;
  align-items: center;   
}

.normal-iconed .material-icons {
  margin-left: 6px;
}

.normal-iconed:active {
  color: $neutral-lightest;
  background-color: $secondary-light-blue;
}

// Outlined buttons with icon
.outlined-iconed {
  border: 2px solid $primary-grey;
  padding: 11px 25px;

  color: $primary-grey;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.outlined-iconed .material-icons {
  margin-right: 6px;
}

.outlined-iconed:active {
  color: $secondary-grey;
  border-color: $secondary-grey;
}

// Icon button
.icon-button {
  border-radius: 15px;
  padding: 7px 8px;
  padding-bottom: 3px;
  display: inline-block;

  color: $primary-grey;
  background-color: $secondary-light-green;
  box-shadow: $shadow-light;
}

.icon-button .material-icons {
  font-size: 25px;
}

.icon-button:active {
  color: $secondary-grey;
  background-color: $secondary-lightest-green;
}

.normal:disabled,
.normal-iconed:disabled,
.icon-button:disabled {
  background-color: $neutral-lightest;
  color: $neutral-lighter;
  pointer-events: none;
}

.outlined:disabled,
.outlined-iconed:disabled {
  border-color: $neutral-lightest;
  color: $neutral-lighter;
  pointer-events: none;
}
