// Normal buttons
.button.normal {
  border: none;
  width: 106px;
  height: 42px;
  border-radius: 20px;
  
  color: $neutral-white;
  background-color: $secondary-grey;

  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.button.normal:active {
  background-color: $secondary-light-grey;
}

// Outlined buttons
.button.outlined {
  border: 2px solid $primary-grey;
  width: 106px;
  height: 42px;
  border-radius: 20px;

  color: $primary-grey;
  background-color: white;

  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.button.outlined:active {
  border-color: $secondary-grey;
  color: $secondary-grey;
}

// Normal buttons with icon
.button.normal-iconed {
  border: none;
  width: 127px;
  height: 42px;
  border-radius: 20px;

  color: $neutral-white;
  background-color: $secondary-blue;

  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;

  display: flex;
  justify-content: center;
  align-items: center;    
}

.button.normal-iconed .material-icons {
  margin-left: 6px;
}

.button.normal-iconed:active {
  color: $neutral-lightest;
  background-color: $secondary-light-blue;
}

// Outlined buttons with icon
.button.outlined-iconed {
  border: 2px solid $primary-grey;
  width: 127px;
  height: 42px;
  border-radius: 20px;

  color: $primary-grey;
  background-color: white;

  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;

  display: flex;
  justify-content: center;
  align-items: center;   
}

.button.outlined-iconed .material-icons {
  margin-right: 6px;
}

.button.outlined-iconed:active {
  color: $secondary-grey;
  border-color: $secondary-grey;
}

// Icon button
.button.icon-button {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 15px;

  color: $primary-grey;
  background-color: $secondary-light-green;
  box-shadow: 0px 2px 4px 1px #E0E0E0;
}

.button.icon-button .material-icons {
  font-size: 20px;
}

.button.icon-button:active {
  color: $secondary-grey;
  background-color: $secondary-lightest-green;
}

.button.normal:disabled,
.button.normal-iconed:disabled,
.button.icon-button:disabled {
  background-color: $neutral-lightest;
  color: $neutral-lighter;
  pointer-events: none;
}

.button.outlined:disabled,
.button.outlined-iconed:disabled {
  border-color: $neutral-lightest;
  color: $neutral-lighter;
  pointer-events: none;
}
