.event-cards {
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }

  & > button {
    margin-left: auto;
    margin-right: 20px;
  }

  & > h3 {
    font-size: 20px;
    color: $neutral-darkest;
    margin-left: 20px;
    font-weight: bold;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .event-card {
      margin-bottom: 30px;
    }
  }
}

.event-card {
  height: 280px;
  width: 75vw;
  padding: 12px;
  border-radius: 20px;
  box-shadow: $shadow-card;
  background-color: $neutral-bright-white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image-container {
    position: relative;

    margin: 0 auto;
    margin-bottom: 8px;
    height: 140px;
    width: 98%;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    position: absolute;
    top: 8px;
    left: 8px;

    height: 36px;
    width: 36px;
    color: $neutral-bright-white;
    font-weight: bold;
    background: rgba($secondary-blue, 0.8);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--small {
      font-size: 10px;
    }

    &--big {
      font-size: 16px;
    }
  }

  &__bookmark {
    position: absolute;
    top: 8px;
    right: 8px;

    height: 36px;
    width: 36px;
    background: rgba($secondary-blue, 0.8);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .material-icons {
      color: $neutral-bright-white;
      font-size: 28px;
    }
  }

  & h3 {
    font-size: 20px;
    font-weight: bold;
  }

  &__join {
    display: flex;
    justify-content: left;
    align-items: center;

    &-location {
      color: $primary-blue;
      font-size: 18px !important;
    }

    & p {
      font-size: 11px;
      color: $secondary-grey;
    }

    & button {
      margin-left: auto;
    }
  }
}