.feed {
  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & h2 {
    width: 100%;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    align-items: center;

    // TODO: fix the anchor in h2 lumberjack method, put them separately into a div or smth
    & a {
      list-style: none;
      text-decoration: none;
      font-size: 14px;
      margin-left: auto;
      margin-right: 40px;

      font-weight: normal;
      color: $secondary-light-blue;
    }
  }

  & h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  & .event-card {
    margin: 8px auto;
  }
}