.form {
  padding: 5rem 10rem;
  border-radius: 15px;
  box-shadow: 27px 27px 54px #cccccc,
              -27px -27px 54px #f4f4f4;
  height: min-content;
  width: min-content;

  grid-area: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  padding: 6rem 12rem;
}