.search-bar {
  width: 250px;
  height: 30px;
  border-bottom: 1px solid $neutral;
  font-size: 16px;
  cursor: pointer;
  
  display: flex;
  justify-content: space-between;
  
  transition: all 0.3s ease-in-out;

  & input {
    font-size: 16px;
    margin-left: 7px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;

    flex-grow: 1;

    transition: all 0.3s ease-in-out;

    &::placeholder {
      color: $neutral-lighter;
      font-weight: 400;
    }
  }

  &__icon {
    color: $neutral;
    margin-right: 7px;
    font-size: 25px !important;

    transition: all 0.3s ease-in-out;
  }

  &:focus-within {
    border-color: $primary-green;

    & .search-bar__icon {
      color: $neutral-darkest;
    }
  }

  &--disabled {
    pointer-events: none;
    border-color: $neutral-lightest;
  }

  & input:disabled {
    pointer-events: none;
    background-color: $neutral-bright-white;
    color: $neutral-lightest;
  }
  
  &__icon--disabled {
    color: $neutral-lightest;
  }
}