.user-avatar {
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: left;

  &__wrapper {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;

    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  & img {
    width: auto;
  }

  & p {
    font-size: 14px;
    font-weight: bold;
  }
}