.double-button {
  width: 115px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  &__list-button {
    cursor: pointer;
  }
  
  &__add-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
