.user-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.double-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &__list-button {
    width: 150px;
    cursor: pointer;
  }
  
  &__add-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
