.header {
  height: 60px;
  background-color: $neutral-bright-white;
  border: 0.5px solid $neutral-lighter;
  
  display: flex;
  flex-direction: row;
  align-items: center;

  &__logo {
    margin-right: auto;
    margin-left: 15px;
    width: 100px;
    padding: 5px;
  }

  &__icon-button {
    width: 35px;
    height: 100%;
    margin-right: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:active .material-icons {
      filter: brightness(170%);
    }

    & .material-icons {
      color: $primary-grey;
      font-size: 25px;
    }
  }
}